
body {
    margin: 0;
    font-family:'Montserrat', sans-serif;
    
    }
    h1 {
        background: #b38e6c;
        color:white;  
        text-align: center;
        font-size: 1.2em  ;
        padding: 1.5em;
        margin: auto;
    }

    .top {
        margin-bottom: 2em;
    }
    h2 {
       text-align: center; 
    }
    .h-2 {
        text-align: left;
        font-size: x-large;
        margin-bottom: 17px  ;
    }
    .pcenter{
        text-align: center;
    }
    .header2 {
    
        text-align: left;
    }
    
    .input1:focus, 
     select:focus,
     textarea:focus {
   outline:black solid 5px;
  }
    
    .input1:hover, 
     select:hover,
     textarea:hover {
          background:  #e4d9cf;
    }
    
    
    legend {
        padding-bottom: 18px;
        padding-top: 44px;
        font-size: x-large;
    } 
    
    input#zip{
        width: 50%;
        display: flex;
    }
    p {
        font-size: 16px;
        color: rgb(148, 144, 144);
    }
    label {
        color: rgb(145, 141, 141);
       }
    
    .textcolor{
        color: lightgray;
    
    }
    .underline {
        border-bottom: 6px double;
        padding: 0 0 1rem 0; 
        margin: 1.2rem;
        }
          
        .leftmar {
            text-align: left;
            padding: 2rem;
            background: peachpuff;
        }
    
    
    .left {
        text-align: left;
        padding: 10px;
        margin: 9px -10px;
       }
    
       .input1 {
        width: 100%;
        height: 3em ;
        background: rgb(236, 235, 235);
        border-radius: 10px;
        border: none;
        margin: 15px 0 14px 0;
        transition-property: all;

        margin: 15px 0 14px 0;
    }
    .news-1 {
        padding: 1rem;
        background: peachpuff;
    }
    
    
    option[default] {
        display: none;
    
    }
    select {
        color: grey;
      }
      option {
        color: black;
      }
      option[default] {
         display: none;
      }
    
    .input3 {
        margin: 14px 24px 21px 0px;
    }
    
  ::placeholder {
        text-align: left;
        color: rgb(202, 192, 192);
    }
    #name::placeholder {
        text-align: right;
        color: rgb(202, 192, 192);
    }
    #email::placeholder {
        text-align: right;
        color: rgb(202, 192, 192);
    }
    
    select {
        width: 220px;
        height: 35px;
    }
    
    fieldset {
    border: none;
    background-color: peachpuff;
    }
    textarea {
        width: 100%;
        height: 8em;
        background: rgb(236, 235, 235);
        border: none;
        margin-top: 1em;
        transition-property: all;
    }
    
    .submitb {
        background: rgb(60, 194, 165);
        width: 100%;
        height: 3em;
        border-radius: 8px;
        color: white;
        font-size: large;
        margin: 20px 0;
        border: none;
        transition: background-color 0.5s ease-out;
    }  
        .submitb:hover {
            background-color: rgb(121, 218, 129);
          }
     
        hr {
            max-width: 739px;
            height: 3px;
            margin-bottom: -2em;
            background-color: black;
            background-repeat: inherit;
        }
    
        .foot {
                text-align: center;
    }
    
        
     @media screen and (min-width: 768px) {
      
        .contact-info {
            width: 39%;
            margin: auto;
            background-color: peachpuff;
            padding: 14px;
            flex-flow: row wrap;
        }

        legend {
            padding-bottom: 14px;
            padding-top: 44px;
            font-size: x-large;
            
        }
    
        .news-1 {
            width: 39%;
            margin: auto;
            max-width: 740px;
            background: peachpuff;
            padding: 18px;
            min-width: 679px;
            }
       .submitb {
            background: rgb(60, 194, 165);
            width: 100%;
            height: 86px;
            border-radius: 8px;
            color: white;
            font-size: large;
            margin: 20px 0;
            border: none;
       }
       .input1 {
            width: 79%;
            height: 3em;
            background: rgb(236, 235, 235);
            border-radius: 10px;
            border: none;
            margin: 30px 0 14px 0;
       }
    
       .infotop{
           display: flex;
       }
    
       label {
            width: 11em;
       }
       input#zip {
            width: 25%;
            padding: 0 0 0 0px;
            margin: 23px 27em 0 0px;
       }
        div.info {
            margin: 0 0 0 0em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 43em;
        }

    }